.header {
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  width: 200px;
}

.searchbarContainer {
  display: flex;
  align-items: center;
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  border-radius: 50px;
  padding: 0 20px;
  gap: 10px;
}

.searchbar {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #eee;
  font-size: 16px;
}
.searchbar:focus {
  outline: none;
}

.headerItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #f4f4f4;
}
.headerItems > p {
  cursor: pointer;
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerActions > div {
  margin: 10px;
}

.themeSwitcher {
  display: flex;
  background-color: #1c1c1e;
  padding: 10px;
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: contain;
}

.themeSwitch {
  height: 25px;
}

.loginButton {
  background: linear-gradient(to right, #43cea2, #185a9d);
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.loginButton:hover {
  filter: contrast(150%);
}
